<footer class="site-footer">
  <div class="wrapper">
    <p><strong>SILICONGLEN</strong><br>Craig Cockburn</p>
    <p><a href="mailto:craig@siliconglen.com">craig@siliconglen.com</a></p>
    <div class="legal">
      <p>Siliconglen Ltd is registered in Scotland, company reference SC220464, VAT registration number 902 8542 34.<br>
      Registered office: 5 South Charlotte Street, Edinburgh, Scotland, EH2 4AN.</p>
      <p><a href="https://www.siliconglen.scot/privacy.html">Privacy policy</a> &middot; &copy; 1994&ndash;2025 Siliconglen Ltd</p>
    </div>
  </div>
</footer>
